<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/090a0fb3-9971-4dc8-87ce-da38cc3e2149/resourceGroups/GroupProject/providers/Microsoft.Web/sites/TravelAir</ResourceId>
    <ResourceGroup>GroupProject</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://travelair.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>travelair.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TravelAir</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TravelAir</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MvcUserRolesContext" Order="1" Enabled="False">
          <Destination Path="Data Source=mvcuserrolesdb.database.windows.net;Initial Catalog=MvcUserRolesDB;User ID=dbadmin;Password=!qwerty123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MvcUserRoles.Models.ApplicationDbContext, MvcUserRoles" MigrationConfiguration="MvcUserRoles.Migrations.Configuration, MvcUserRoles" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MvcUserRolesContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>Data Source=mvcuserrolesdb.database.windows.net;Initial Catalog=MvcUserRolesDB;User ID=dbadmin;Password=!qwerty123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>